*_local.py
identifier.sqlite
__pycache__

opendata-dataset/
venv/
dockerenv/

# Hide influx db config
src/resources/influx2.ini

# IntelliJ Project
*.iml
/.idea

# don't upload all images, since they can be generated
saved_graphs/